:root {
    --main_width: calc(100vh - 58px);
}

.body {
    height: 100vh;
}

.bg_lightgray {
    background-color: #e5e5e5;
}

.bg_darkblue {
    background-color: #165bba;
}

.bg_blue {
    background-color: #1b72e8;
}

.main_navbar {
    height: 125px;
}

.plus {
    display: inline-block;
    width: 15px;
    height: 15px;
}

td img {
    width: 30px;
}

.searchbar{
    width: auto;
    flex-grow: 1;
}

.sidebar {
    background-color: #092137;
    width: 80px;
    height: var(--main_width);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar .nav {
    --bs-nav-link-color: white;
    --bs-nav-link-hover-color: rgb(45, 45, 45);
}

.sidebar .nav-hover .nav-link:hover {
    background-color: white;
}

@media screen and (min-width: 768px) {
    .sidebar {
        width: 160px;
    }
}